[  
{% for result in results %}
{
    "True": [
    "ls /opt/rancid/raw/{{ result['type'] }} | grep ^{{ result['device_id'] }}.raw$",
    {
        "{{ result['device_id'] }}.raw": [
        "sudo -u rancid rm /opt/rancid/raw/{{ result['type'] }}/{{ result['device_id'] }}.raw",
        "json/paramiko/passcode.json"
        ]
    }
    ]
},
{% endfor %}
]
  